<div class="container" style="padding: 30px">
  <div class="">
    <div class="col-md-12">
      <div class="centered-box">
        <div class="col">
          <div>
            <div
              style="
                display: grid;
                align-items: center;
                place-content: center;
                padding-top: 100px;
              "
            >
              <h3>Verdict is the World's 1st Real-Time Research Service​</h3>
              <div style="display: flex; place-content: center">
                <input
                  style="width: 400px; border-color: aqua"
                  type="text"
                  [(ngModel)]="inputVal"
                  (click)="onInputClick()"
                />

                <button
                  type="submit"
                  class="btn"
                  style="background-color: aqua"
                  (click)="OnHandleClick()"
                >
                  Search
                </button>
              </div>
            </div>

            <!-- Filtering and displaying results -->
            <div
              [hidden]="inputVal.length <= 1 || filterState"
              style="display: flex; place-content: center"
            >
              <ul class="data-ul" style="list-style-type: none; padding: 0">
                <li
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    padding: 5px;
                    cursor: pointer; /* Add cursor pointer for hover effect */
                  "
                  *ngFor="let hero of data | filter : inputVal"
                  (click)="onResponseClick(hero.sname)"
                >
                  <span
                    [innerHTML]="hero.Company"
                  ></span>
                  (<span
                    [innerHTML]="hero.ExchangeName | uppercase"
                  ></span>
                  -
                  <span
                    [innerHTML]="hero.ScriptCode"
                  ></span>
                  | NSE -
                  <span
                    [innerHTML]="hero.Symbol"
                  ></span
                  >)
                </li>
              </ul>

              <!-- if data notfound -->
              <ul
                *ngIf="data.length === 0"
                style="list-style-type: none; padding: 0; text-align: center"
              >
              <!-- [hidden]="data.length < 0 " -->
                <li

                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    padding: 5px;
                  "
                >
                  No results found
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
