<div class="container" style="padding: 30px">
  <div class="">
    <div class="col-md-12">
      <div class="centered-box">
        <div class="col">
          <div>
            <div
              style="
                display: grid;
                align-items: center;
                place-content: center;
                padding-top: 100px;
              "
            >
              <h3>Verdict is the World's 1st Real-Time Research Service​</h3>
              <div style="display: flex; place-content: center">
                <input
                  style="width: 400px; border-color: aqua; "
                  type="text"
                  [(ngModel)]="inputVal"
                  (click)="onInputClick()"
                />

                <button
                  type="submit"
                  class="btn "
                  style="background-color: aqua;"
                  (click)="OnHandleClick()"
                >
                  Search
                </button>
              </div>
            </div>

            <!-- Filtering and displaying results -->
            <div
              [hidden]="inputVal.length <= 1 || filterState "
              style="display: flex; place-content: center"
            >
              <table>
                <tbody>

                  <!-- mapping -->
                  <tr
                    style="
                      display: flex;
                      place-content: center;
                      border: 1px solid black;
                      padding: 5px;
                      cursor: pointer; /* Add cursor pointer for hover effect */
                    "
                    *ngFor="let hero of data | filter : inputVal"
                    (click)="onResponseClick(hero.sname)"
                  >
                    <td
                      [innerHTML]="hero.Company"
                      (click)="trClicked(hero.Id)"
                    ></td>
                    <td>(</td>
                    <td
                      [innerHTML]="hero.ExchangeName | uppercase"
                      (click)="trClicked(hero.Id)"
                    ></td>
                    <td>-</td>
                    <td
                      [innerHTML]="hero.ScriptCode"
                      (click)="trClicked(hero.Id)"
                    ></td>
                    <td>|</td>
                    <td>NSE</td>
                    <td>-</td>
                    <td
                      [innerHTML]="hero.Symbol"
                      (click)="trClicked(hero.Id)"
                    ></td>
                    <td>)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
