<div class="" style="background-color: gray; margin-top: 50px; width: 100%">
  <div class="">
    <div
      style="
        display: flex;
        place-content: center;
        font-weight: 600;
        font-size: large;
        color: gainsboro;
        padding-top: 10px;
      "
      class=""
    >
      <p class="mojohead4">
        <strong>ALL IN ONE REPORT-</strong>STOCK ADVISE, QUANTITY, BETTER
        STOCKS, PEERS, DETAILED RESEARCH
      </p>
    </div>
  </div>
  <div class="">
    <div class="">
      <div class="banner-img">
        <img
          style="width: 100%; max-width: 100%"
          alt="img"
          src="https://i.marketsmojo.com/mojoprofessional/verdict_banner0906.png"
        />
      </div>

      <!-- *ngIf="!data.ispaid && data.logged_in!" -->
      <div class="mojobuttonbanner">
        {{ home_button_html }}
      </div>

      <!-- *ngIf="!data.logged_in!"  -->
      <!-- <div class="mojobuttonbanner">
        <div ng-click="getStarted_nl()" class="paybuttonconetnt">
          <a href="javascript:void(0);">Get Started</a>
        </div>
      </div> -->
    </div>
  </div>
</div>
