
<!-- search -->
<app-research-service
  (myEvent)="recievedDataEvent($event)"
  (myEvent2)="recievedStateEvent($event)"
/>

<!-- report --> <!-- inputData.length < 1 || boxState -->
<app-verdictreport
  [hidden]="inputData.length < 1 || boxState"
  *ngFor="let item of ReportResponse | filterReport : inputData"
  [reportData]="item"
  (myEvent2)="recievedDataEvent2($event)"
/>

<!-- loading -->
<app-verdictloading
[hidden]="false"
/>

<app-verdict1 />
<app-verdict2 />
<app-verdict3 />

<!-- footer -->
<app-verdictfooter />
