<div style="padding: 20px;" class="listmojoarea_verdict3" ng-if="!block_clmm_content">
  <div class="row">
      <div style=" display:flex; place-content: center; font-weight: 800; font-size: xx-large;" class="col-md-12">
          <p style="margin-top: 70px; margin-bottom: 40px; " class="mojohead4_1">HOW TO USE THIS SECTION</p>
      </div>
  </div>
  <div class="row" style="place-content: center; place-items: center;" >
      <div style="display: grid; place-content: center; place-items: center;" class="col-md-3">
          <p class="vertext"><img alt=" hello" src="https://i.marketsmojo.com/mojoprofessional/verdict-icon1_new.png" /></p>
          <p style="font-weight: 300;" class="vertext2"><strong style="font-weight: 700;">Simply input your stock –</strong><br />Check for stock advice, how much to buy/sell/hold, what quantity, better stocks and detailed research which updates real time</p>
      </div>
      <div style="display: grid; place-content: center; place-items: center;" class="col-md-3">
          <p class="vertext"><img alt=" hello" src="https://i.marketsmojo.com/mojoprofessional/verdict-icon2_new.png" /></p>
          <p style="font-weight: 300;" class="vertext2"><strong  style="font-weight: 700;" >Save the stock that interests you -</strong><br />Save it in watchlist to track or simply add it to your portfolio if you holding that stock</p>
      </div>
      <div style="display: grid; place-content: center; place-items: center;" class="col-md-3">
          <p class="vertext"><img alt=" hello" src="https://i.marketsmojo.com/mojoprofessional/verdict-icon3_new.png" /></p>
          <p style="font-weight: 300;" class="vertext2"><strong  style="font-weight: 700;" >Download the report -</strong><br />If you want a detailed read you can either download the full report or see it online, your choice</p>
      </div>
      <div style="display: grid; place-content: center; place-items: center;" class="col-md-3">
          <p class="vertext"><img alt=" hello" src="https://i.marketsmojo.com/mojoprofessional/verdict-icon4_new.png" /></p>
          <p style="font-weight: 300;" class="vertext2"><strong  style="font-weight: 700;" >Automated alerts –</strong><br />Once you have added the stock to your watchlist or portfolio, we will be sending you alerts on all saved stocks</p>
      </div>
  </div>
  <!-- <div class="row">
      <div class="col-md-12">
          <div class="mojobuttonbanner" ng-if="!data.ispaid && data.logged_in">
              <button class="btn btn-primary" ng-click="home_button_html">Your Home Button</button>
          </div>
          <div class="mojobuttonbanner" ng-if="!data.logged_in">
              <div class="paybuttonconetnt">
                  <a href="javascript:void(0);" ng-click="getStarted_nl()">Get Started</a>
              </div>
          </div>
      </div>
  </div> -->
</div>
